/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px;
  }
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}
.container_footer {
  width: 100%;

  margin-right: 0;
  margin-left: 0;
}
.container_main {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.carousel-indicators_op {
  position: absolute;
  top: 10px;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -ms-flex-pack: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators {
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  font-size: 100px;
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 100px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5vw;
  font-size: 100px;
}
@media (min-width: 1501px) {
  .container {
    max-width: 1440px;
  }
  .third_font {
    font-size: 24px;
  }
  .third_captionfont {
    font-size: 14px;
  }
  .thirdh1_font {
    font-size: 36px;
  }
  .thirdh2_font {
    font-size: 30px;
  }

  .thirdh3_font {
    font-size: 20px;
  }
  .thirdh4_font {
    font-size: 16px;
  }
}
@media (max-width: 1501px) {
  .third_font {
    font-size: 24px;
  }

  .third_captionfont {
    font-size: 14px;
  }
  .thirdh1_font {
    font-size: 36px;
  }
  .thirdh2_font {
    font-size: 30px;
  }
  .thirdh3_font {
    font-size: 20px;
  }
  .thirdh4_font {
    font-size: 16px;
  }
}
@media (min-width: 740px) {
  .font-step {
    font-size: 30px;
  }
}
@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
  .third_font {
    font-size: 16px;
  }
  .font-step {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .third_font {
    font-size: 16px;
  }
  .third_captionfont {
    font-size: 10px;
  }
  .thirdh1_font {
    font-size: 24px;
  }
  .thirdh2_font {
    font-size: 20px;
  }
  .thirdh3_font {
    font-size: 16px;
  }
  .thirdh4_font {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  body {
  }
  .third_captionfont {
    font-size: 10px;
  }

  .carousel {
    height: 100vh;
  }
  .third_font {
    font-size: 12px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
  .third_font {
    font-size: 16px;
  }
  .third_captionfont {
    font-size: 10px;
  }
}

.grid_op {
  display: grid;
  height: 6px;
  width: 80%;
  gap: 5px;
  grid-template-columns: repeat(6, 1fr); /*fraction의 기준은 그리드의 크기*/
}
.grid_op_4 {
  display: grid;
  height: 6px;
  width: 80%;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr); /*fraction의 기준은 그리드의 크기*/
}
.st1op {
  background-color: #598091;
}
.st2op {
  background-color: #659058;
}
.st3op {
  background-color: #b4b333;
}
.st4op {
  background-color: #edce37;
}
.st5op {
  background-color: #e97424;
}
.st6op {
  background-color: #cd1d27;
}
.st0op {
  background-color: #c4c4c4;
}
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.scale-down {
  object-fit: scale-down;
}
.none {
  object-fit: none;
}
.btn_height {
  max-height: 30px;
}
.lnd_font_size {
  font-size: 20px;
}
.text-default_op {
  color: #333333;
}
.btn {
  text-transform: unset !important;
}
.carousel-inner > .item {
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}
.bgchart {
  background-image: url("..\..\img\shift\Group 406.png");
}
@font-face {
  font-family: "LobsterTwo";
  src: url("../font/Lobstertwo/LobsterTwo-Regular.ttf");
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
.sidebar {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #ffffff;

  width: 180px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 220px; /* 180 + 40 */
  }
  .sidebar {
    z-index: 1000;
  }
}
#backButton {
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-size: 16px;
  background-color: #2eacd1;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.invisible {
  display: none;
}
.list-setting{
  padding: 0px;
   border-top: 1px solid #999999;
}
.list-title{
  background-color: #F4F4F4;
  color: #999999;
  padding: 10px;
  border-bottom: 1px solid #999999;
}
.list-content{
  text-align: center!important;
  padding: 10px;
  color: #454545;
  font-weight: 500;
  border-bottom: 1px solid #ced4da;
}
.mypage-active{
  color: #17375E;
  font-weight: 700;
}
.font-12{
  font-size: 12px!important;
}