.card-form{
    background-color: #fff;
    min-height: 80vh;
    width: calc(100% - 40px);
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  #before-accept{
    padding: 30px;
  }
  .vaccine-title{
    font-weight: 700;
  }
  .checkbox-content{
    color: #808080;
    font-size: clamp(12px, 2vw, 16px);
    line-height: clamp(24px, 4vw, 24px);
  }